.page {
    text-align: center;
    margin-top: 10%;
}

.btns {
    margin-top: 10%;
    display: flex;
    justify-content: center; 
    gap: 1%; 
}

.btns button {
    padding: 8px 12px;
    font-size: 16px;
    border: transparent;
    cursor: pointer;
}

.btns button:hover {
    background-color: #bbc3cc;
}
.btns + .page {
    background-color: rgba(0, 0, 0, 0.5);
}
